SALESFORCE_CLIENT_ID=Replace with Consumer key # 3MVG9JJwBBbcN47LdpyyEkBFnX2YmrEemHbiYiey3SwJkRrWk99JcHGWzRaq1MFVPxdS1Uul1LMnwq74WDNlA
SALESFORCE_CLIENT_SECRET=Replace with Consumer secret # 3MVG9JJwBBbcN47LdpyyEkBFnX2YmrEemHbiYiey3SwJkRrWk99JcHGWzRaq1MFVPxdS1Uul1LMnwq74WDNlA
SALESFORCE_AUTH_URL=https://test.salesforce.com # for development. replace with production salesforce org 
SALESFORCE_CALLBACK_URL=http://localhost:3000/api/auth/callback/salesforce
NEXTAUTH_SECRET=your_random_secret_key
NEXTAUTH_URL=http://localhost:3000